<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Transactions</title>
        <style>
        body {background-color: black; display: flex; flex-direction: column;}
        h1   {color: white; padding: 2%; align-self: center;}
        form {display: flex; flex-direction: column; align-self: center; align-items: center; padding: 2%;}
        span {align-self: left; color: white;}
        label {color: white;}
        div {display: flex; flex-direction: row;}
        button {margin: 2%;}
        </style>
    </head>
    <body>
        <h1>
            Showing transactions for {{username}}
        </h1>
        <span class="tab">
            Date, Description, Paid Out, Paid In, Balance, Category, Notes
        </span>
        {% for res in transactions %}
        <span class="tab">
            {{res.date}},  {{res.description}},   {{res.paid_out}},  {{res.paid_in}},   {{res.balance}},   {{res.category}},  {{res.notes}}
        </span>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            <label>Filter by category</label><br />
            <input type="text" name="category"><br />
            <div>
                <button type="submit" name="category_submit" value="category_submit">Submit</button>
                <button type="submit" name="show_all" value="show_all">Show All</button>
            </div>
        </form>

        <form method="post">
            {% csrf_token %}
            <label>Download as CSV</label><br />
            <button type="submit" name="download" value="download">Download</button>
        </form>
    </body>
</html>
